/*
    Cards style
*/
.cards-list {
   text-align: center;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.card-body {
    padding: 30px;
    margin: 40px;

    border: 3px solid rgb(55,54,59);
    border-radius: 60px;

    position: relative;
}
.card-body > img {
    height: 250px;
}
.card-content {
    padding: 10px;
    color: snow;
    opacity: 0.9;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

/*
    Add to favorites button style
*/
.btn_add-to-favorites {
    position: absolute;
    top: 25px;
    right: 45px;
    cursor: pointer;
    content: "";
}
.heart {
    position: relative;
    width: 17px;
    height: 29px;
    box-shadow: -1px 0 10px hotpink;
    border-radius: 50px 50px 0 0;
    transform: rotate(315deg);
}
.heart:before {
    position: absolute;
    width: 31px;
    height: 16px;
    left: 0;
    bottom: 0;
    content: "";
    box-shadow: 0 3px 10px hotpink;
    border-radius: 0 50px 50px 0;
}