.button {
    padding: 10px 30px;
    margin: 10px;
    border-radius: 7px;
    border: none;
    border-bottom: 2px solid grey;
    border-right: 1px solid grey;
    cursor: pointer;
    color: #dee2e6;
    font-weight: 600;
}