.button {
    margin: 15px;
    padding: 10px 30px;

    border-radius: 10px;
    border: 2px solid rgba(227,225,177,0.75);

    cursor: pointer;
    color: snow;
    font-weight: 600;
    font-size: 16px;
}