.modal {
    /*display: block;*/
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .75s linear;
    background: rgba(0,0,0,0.5);
}
.modal-dialog {
    max-width: 500px;
    position: relative;
    margin: 1.75rem auto;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    font-weight: 600;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
}
.modal-body {
    position: relative;
    padding: 1rem;
    text-align: center;
}

